.destination {
    margin: 4rem 6rem;
}

.destination h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.Firts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.6rem;
}

.Desc_text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;

}

.Desc_text h2 {
    padding-bottom: 1rem;
}

.Img {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.Img img {
    width: 49%;
    
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: -1px 1px 62px -19px rgba(0, 0, 0, 0.19);

}
.Img img:nth-child(1) {
   position: absolute;
   top: -10%;
   right: 0;
}
@media screen and (max-width: 850px) {
    .destination {
        margin: 4rem 2rem;
    }
    .Firts {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .Desc_text {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
    }
    .Img {
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: -99;
    }
}