/* Navbar */
.navbar__ITEMS {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 2rem;
    border-radius: 15px;
    background-color: rgb(240, 240, 230);
    background-image: url(https://user-images.githubusercontent.com/78994881/215216308-e800b67f-ce99-4b0a-a480-0adb2aadc76e.jpg);
    box-shadow: 0 5px 15px 0 rgba(5, 5, 5, 0.966);
    position: fixed;
    top: 25px;
    left: 50px;
    right: 50px;
    transform: translate(-50%, );
    z-index: 9999;

}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -2px;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;

}

.navbar__menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.4s ease-in-out;
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(26, 24, 24);
    text-decoration: none;

}

.navbar__logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar__links {
    text-decoration: none;
    color: rgb(26, 24, 24);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.navbar__links i {
    padding-right: 10px;
}

.navbar__links:hover {
    background-color: rgb(7, 107, 238);
    border-radius: 15px;
    color: #858181;
    transition: all 0.3s ease;
}

.navbar__links-mobile {
    display: none;
}

button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(7, 107, 238);
    border-radius: 15px;
    color: #858181;
    width: 150px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.navbar__links-mobile:hover {
    background-color: rgb(7, 107, 238);
    border-radius: 15px;
    color: #858181;
    transition: all 0.3s ease;
}

button:hover {
    backdrop-filter: blur(00.1rem);
    -o-backdrop-filter: blur(00.09rem);
    -ms-backdrop-filter: blur(00.09rem);
    -moz-backdrop-filter: blur(00.09rem);
    -webkit-backdrop-filter: blur(00.09rem);
    background-color: rgb(253, 253, 251);
    border-radius: 15px;
    color: #858181;
    transition: all 0.3s ease;
}

.menu-icons {
    display: none;
}

/*media query for my navbar*/

@media screen and (max-width:850px) {
    .navbar__ITEMS {
        z-index: 99;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(253, 253, 251);
        background-image: url(https://user-images.githubusercontent.com/78994881/215216308-e800b67f-ce99-4b0a-a480-0adb2aadc76e.jpg);
        filter: blur(00.05rem);
        -o-filter: blur(00.05rem);
        -ms-filter: blur(00.05rem);
        -moz-filter: blur(00.05rem);
        -webkit-filter: blur(00.05rem);
        box-shadow: 0 5px 15px 0 rgba(5, 5, 5, 0.966);
        border-radius: 15px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;


    }

    .navbar__menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.4s ease-in-out;
    }

    .navbar__links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .navbar__links:hover {
        border-radius: 15px;
        color: #030303;
        transition: all 0.3s ease;
    }

    button {
        display: none;

    }

    .navbar__links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 50px;
        color: #030303;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: normal;
        backdrop-filter: blur(00.01rem);
        -o-backdrop-filter: blur(00.01rem);
        -ms-backdrop-filter: blur(00.01rem);
        -moz-backdrop-filter: blur(00.01rem);
        -webkit-backdrop-filter: blur(00.01rem);
        
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i {
        font-size: 1.5rem;
        color: rgb(26, 24, 24);
    }
}

/*fim media query*/
/*Fim do Navbar*/