*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$maingreen: #187402;
$mainwhite: #fff;
$mainblack: #000;
$maingrey: #ececec;
$mainblue: #0d47a1;
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: $mainblue;
    background: $maingrey;
}